<a href="https://colab.research.google.com/github/rmishra258/Board-Infinity/blob/master/Introduction_to_python_Feb02_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

My name is Rahul

shift+enter to **execute**

In [0]:
myself = 'rahul'

#form of string

In [5]:
myself

'rahul'

In [0]:
#form of number

age = 27

In [7]:
age

27

In [8]:
#print mulltiple variables

print(name)
print(age)

rahul
27

In [0]:
#boolen values

male = True

In [12]:
male

True

In [0]:
#floating numbers
percentage = 66.9

In [14]:
percentage

66.9

List stores a group of values

it can be of only single data tyoe like numbers or multiple data types like
numbers, string, boolean etc

In [0]:
marks = [66.9, 70.1, 89, 'rahul mishra', True]

In [43]:
#print out the length of list marks

len(marks)

5

In [27]:
marks

[66.9, 70.1, 89, 'rahul mishra', True]

In [28]:
#selecting and printing on specific object in list, always start counting from 0
#for now print out your name which is the fourth entry in the list, remember, count starts from 0 

marks[3]

'rahul mishra'

In [0]:
education = {'tenth' : 66.9, 'twelth' : 70.1, 
             'graduation' : 89, 'name' : 'rahul mishra', 'male' : True}

In [30]:
education

{'graduation': 89,
 'male': True,
 'name': 'rahul mishra',
 'tenth': 66.9,
 'twelth': 70.1}

In [32]:
#selecting an item from a dictionary
#print only your 10th grade

education['tenth']

66.9

In [33]:
#print only keys
#it will return a list of keys

education.keys()

dict_keys(['tenth', 'twelth', 'graduation', 'name', 'male'])

In [36]:
#print out only values
#it will return a list of values

education.values()

dict_values([66.9, 70.1, 89, 'rahul mishra', True])

In [0]:
#make a dictionary contaning a list of marks of 3 students

students = {'stu1' : [88, 67.9, 50],
            'stu2' : [45.7 , 66, 90],
            'stu3' : [36, 77, 88.12]}

In [42]:
#print the marks for student 2 (only his graduation score)

students['stu2'][2]

90

In [0]:
#make a list containing a dictionary

friends = [{'name' : 'rahul', 'age' : 27}, {'name' : 'ravi', 'age' : 26}]

In [47]:
#find out the type of data for variable marks

type(marks)

list

In [66]:
#create a new list with names of 3 friends, print it and add a fourth friend

my_friends = ['rahul', 'anshul', 'shubham']

my_friends

['rahul', 'anshul', 'shubham']

In [0]:
my_friends.append('lisa')

In [68]:
my_friends

['rahul', 'anshul', 'shubham', 'lisa']

In [0]:
#add an element in the first position
my_friends[0] = 'sumit'

In [71]:
my_friends

['sumit', 'anshul', 'shubham', 'lisa']